@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

.coin-app {
  display: flex;
  flex-direction: column;
}

.crypto-container {
  text-align: center;
}

.crypto-header {
  background: #D38312;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 150px;
  padding: 20px;
  color: #fff;
}

.crypto-intro {
  margin-top: 20px;
  font-size: large;
}

.coin-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin: 20px 0;
}

.coin-input {
  padding: 15px 10px;
  border: 2px solid #333;
  border-radius: 8px;
  outline: none;
  width: 300px;
  margin-bottom: 30px;
}

::placeholder {
    color: lightgrey;
    font-size: 16px;
}